body {
  margin: 20;
  padding: 0;
  background-color: rgb(88, 83, 83);
  /* background-image: url("./imagens/atari.png");
  background-repeat: no-repeat;
  background-position: right;*/
}

canvas {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}
